---
layout: default
title: Blog de Scala, MongoDB, AngularJS y más | Ciris Informatic Solutions
---

<div class="row">
    <div class="col-md-9">  
      {% for post in paginator.posts %}
        <div class="row paddingHorizontal">
            
            <div class="col-md-1">
                <img src="http://ciriscr.com/recursos/imagenes/{{post.imagenAutor}}.jpg" class="img-responsive"
                alt="Autor" title="{{post.autor}}"/>
            </div>
            <div class="col-md-11">
                <h1 style="margin: 0; margin-bottom: 5px;"><a href="{{ post.url }}">{{ post.title }}</a></h1>            
                <label>{{post.date | date_to_string}} | Publicado por {{post.autor}}</label>
            </div>
        </div>
        <div style="margin-bottom:2em">
            <p>{{ post.excerpt }}</p>
            <hr>
        </div>
      {% endfor %}  
    </div>
    <div class="col-md-3">
        <h2>Categorías</h2>
    </div>
</div>
<div class="row">
    <!-- Pagination links -->    
    <ul class="pager">        
        <li class="previous">
            {% if paginator.previous_page %}            
            <a href="/page{{ paginator.previous_page }}" 
            class="previous">&larr; Anterior</a>
            {% else %}
            <span class="previous">Inicio</span>
            {% endif %}    
        </li>            
        <li class="next">
            {% if paginator.next_page %}
            <a href="/page{{ paginator.next_page }}" class="next">&rarr; Siguiente</a>
            {% else %}
            <span class="next ">Fin</span>
            {% endif %}    
        </li>
    </ul>
</div>